/* common styles */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: 'Nunito', sans-serif;

  /* font-family: 'Lato', sans-serif; */
  margin: 0;
  background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  cursor: pointer;
}

.list {
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
.container-lp {
  max-width: 960px;
  margin: 0 auto;
}

.wrapper-lp-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
/* ===========header========== */

.header-lp__nav {
  padding-top: 35px;
}

.header-lp__nav-img {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* ============ section-lp ========== */
.section-lp {
  text-align: center;
  padding-top: 50px;
}
.section-lp__title {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2;
}
.section-lp__content {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}
.section-lp__list {
  padding-left: 40px;
  padding-right: 40px;
}
.section-lp__item:not(:last-child) {
  margin-bottom: 40px;
}
.section-lp__text {
  padding-bottom: 25px;
  line-height: 1.4;
}
.section-lp__btn {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #ffffff;
  border: none;
  padding: 10px;
  min-width: 350px;
  cursor: pointer;
}
.section-lp__btn--orange {
  background-color: #eb9400;
}
.section-lp__btn--orange:hover {
  background-color: #d58700;
}
.section-lp__btn--blue {
  background-color: #000066;
}
.section-lp__btn--blue:hover {
  background-color: #000053;
}

/* ============= footer-lp =========== */
.footer-lp {
  text-align: center;
  font-family: Nunito, sans-serif;
  padding-bottom: 10px;
  padding-top: 50px;
}
.footer-lp__privacy {
  font-size: 13px;
}
.footer-lp__text {
  color: #333;
}
.footer-lp__text:hover {
  color: #6a6a6a;
}

.footer-lp__copyright {
  margin-top: 5px;
  font-size: 12px;
  color: #888;
}
.footer-lp span {
  border-left: 1px solid #333333;
  margin-left: 30px;
  margin-right: 30px;
}
